## Import some useful libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## Load dataset

In [2]:
df = pd.read_csv("athlete_event_dataset.csv")

In [3]:
# display top 5 observations 
df.head()

,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,Juhamatti Tapio Aaltonen,M,28,184,85.0,Finland,FIN,2014 Winter,2014,Winter,Sochi,Ice Hockey,Ice Hockey Men's Ice Hockey,Bronze
1,Paavo Johannes Aaltonen,M,28,175,64.0,Finland,FIN,1948 Summer,1948,Summer,London,Gymnastics,Gymnastics Men's Individual All-Around,Bronze
2,Paavo Johannes Aaltonen,M,28,175,64.0,Finland,FIN,1948 Summer,1948,Summer,London,Gymnastics,Gymnastics Men's Team All-Around,Gold
3,Paavo Johannes Aaltonen,M,28,175,64.0,Finland,FIN,1948 Summer,1948,Summer,London,Gymnastics,Gymnastics Men's Horse Vault,Gold
4,Paavo Johannes Aaltonen,M,28,175,64.0,Finland,FIN,1948 Summer,1948,Summer,London,Gymnastics,Gymnastics Men's Pommelled Horse,Gold

In [4]:
# display bottom 5 rows
df.tail()

,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
30176,Galina Ivanovna Zybina (-Fyodorova),F,25,168,80.0,Soviet Union,URS,1956 Summer,1956,Summer,Melbourne,Athletics,Athletics Women's Shot Put,Silver
30177,Galina Ivanovna Zybina (-Fyodorova),F,33,168,80.0,Soviet Union,URS,1964 Summer,1964,Summer,Tokyo,Athletics,Athletics Women's Shot Put,Bronze
30178,Bogusaw Zych,M,28,182,82.0,Poland,POL,1980 Summer,1980,Summer,Moskva,Fencing,"Fencing Men's Foil, Team",Bronze
30179,Olesya Nikolayevna Zykina,F,19,171,64.0,Russia,RUS,2000 Summer,2000,Summer,Sydney,Athletics,Athletics Women's 4 x 400 metres Relay,Bronze
30180,Olesya Nikolayevna Zykina,F,23,171,64.0,Russia,RUS,2004 Summer,2004,Summer,Athina,Athletics,Athletics Women's 4 x 400 metres Relay,Silver

## Data profilling

In [5]:
## size of dataset
df.shape

(30181, 14)

There are 14 numbers of column and 30181 numbers of rows in our dataset

In [6]:
## datatypes of columns
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30181 entries, 0 to 30180
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    30181 non-null  object
 1   Sex     30181 non-null  object
 2   Age     30181 non-null  int64
 3   Height  30181 non-null  int64
 4   Weight  30181 non-null  float64
 5   Team    30181 non-null  object
 6   NOC     30181 non-null  object
 7   Games   30181 non-null  object
 8   Year    30181 non-null  int64
 9   Season  30181 non-null  object
 10  City    30181 non-null  object
 11  Sport   30181 non-null  object
 12  Event   30181 non-null  object
 13  Medal   30181 non-null  object
dtypes: float64(1), int64(3), object(10)
memory usage: 3.2+ MB

In [7]:
## check nan value in dataset
df.isna().mean()

Name      0.0
Sex       0.0
Age       0.0
Height    0.0
Weight    0.0
Team      0.0
NOC       0.0
Games     0.0
Year      0.0
Season    0.0
City      0.0
Sport     0.0
Event     0.0
Medal     0.0
dtype: float64

In [8]:
df['Medal'].unique()

array(['Bronze', 'Gold', 'Silver'], dtype=object)

In [11]:
### Number of categorical columns
categorical_feature = [column for column in df.columns if df[column].dtypes == object]
len(categorical_feature)

10

In [12]:
## Number of Numerical columns
numerical_feature = [col for col in df.columns if df[col].dtypes != object]
len(numerical_feature)

4

In [13]:
### Number of duplicate rows
duplicate_row = df[df.duplicated()]
print("Number of Duplicates row : ",duplicate_row.shape[0])

Number of Duplicates row :  0

## Statistical Information

In [14]:
df.describe()

                Age        Height        Weight          Year
count  30181.000000  30181.000000  30181.000000  30181.000000
mean      25.429012    177.642358     73.753554   1988.005964
std        5.049684     10.924188     15.004992     22.718451
min       13.000000    136.000000     28.000000   1896.000000
25%       22.000000    170.000000     63.000000   1976.000000
50%       25.000000    178.000000     73.000000   1992.000000
75%       28.000000    185.000000     83.000000   2006.000000
max       66.000000    223.000000    182.000000   2016.000000

In [17]:
df.describe(include = ['O']) ## for categorical columns

,Name,Sex,Team,NOC,Games,Season,City,Sport,Event,Medal
count,30181,30181,30181,30181,30181,30181,30181,30181,30181,30181
unique,20732,2,263,143,51,2,42,55,562,3
top,"Michael Fred Phelps, II",M,United States,USA,2008 Summer,Summer,London,Athletics,Ice Hockey Men's Ice Hockey,Gold
freq,28,19831,4273,4383,2035,25341,2231,3648,1001,10167

## Handling Categorical features

In [24]:
## Number of unique counts for categorical features
def unique(df , column):
    print("Number of unique counts in ",column," : ",df[column].nunique(), " out of rows : ",df.shape[0])

In [25]:
for col in categorical_feature :
    unique(df,col)

Number of unique counts in  Name  :  20732  out of rows :  30181
Number of unique counts in  Sex  :  2  out of rows :  30181
Number of unique counts in  Team  :  263  out of rows :  30181
Number of unique counts in  NOC  :  143  out of rows :  30181
Number of unique counts in  Games  :  51  out of rows :  30181
Number of unique counts in  Season  :  2  out of rows :  30181
Number of unique counts in  City  :  42  out of rows :  30181
Number of unique counts in  Sport  :  55  out of rows :  30181
Number of unique counts in  Event  :  562  out of rows :  30181
Number of unique counts in  Medal  :  3  out of rows :  30181

In [26]:
## perform One hot encoding for 'Sex' feature
df['Sex'].replace({'M':0 , 'F':1}, inplace=True)
df['Sex'].astype(int)

0        0
1        0
2        0
3        0
4        0
        ..
30176    1
30177    1
30178    0
30179    1
30180    1
Name: Sex, Length: 30181, dtype: int32

In [34]:
df['Season'].unique()

array(['Winter', 'Summer'], dtype=object)

In [ ]:
## perform One hot encoding for 'Season' feature
df['Season'].replace({'M':0 , 'F':1}, inplace=True)
df['Season'].astype(int)